.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
}

.main {
    background-color: #ffd700;
    display: table-cell;
}

.aside {
    background-color: #808080;
    display: table-cell;
}

.footer {
    background-color: #00ffff;
    clear: both;
}

.container {
    display: table-row;
}

